<div id="main">
    <p>
        This form is to show how a bad database query and login service implementations open vulnerabilities to malicious users. Such vulnerabilities would allow even a table drop since the application is connecting as SA
        The correct credentials stored in the DB are; test/test, user/user.
    </p>
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCellLeft">
                    <app-login
                            id="loginJPA"
                            title="Login using JPA"
                            [defaultUsername]="defaultUserName"
                            [defaultPassword]="defaultPassword"
                            [loginSuccessful]="jpaLoginSuccessful"
                            (submitLogin)="submitLoginJPA($event)"
                    >
                    </app-login>
                </div>
                <div class="divTableCellRight">
                    <app-login
                            id="loginJDBC"
                            title="Login using JDBC"
                            [defaultUsername]="defaultUserName"
                            [defaultPassword]="defaultPassword"
                            [loginSuccessful]="jdbcLoginSuccessful"
                            (submitLogin)="submitLoginJDBC($event)"
                    >
                    </app-login>
                </div>
            </div>
        </div>
    </div>
</div>
