<div class="main">
    <h2>{{title}}</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input id="username"
               type="text"
               class="form-control"
               [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }"
        />
        <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
            <div *ngIf="formControls.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password"
               type="password"
               class="form-control"
               [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }"
        />
        <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
            <div *ngIf="formControls.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button
                (click)="doLogin()"
                [disabled]="loading"
                class="btn btn-primary"
        >
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
    </div>
</div>
